{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span6">
    <a href="lectures/1" style="text-decoration: none;">
      <div class="alert alert-error" style="text-align: center; font-size:
      50px; padding: 30% 0%;">
        1回生
      </div>
    </a>
    <a href="lectures/3" style="text-decoration: none;">
      <div class="alert alert-success" style="text-align: center; font-size:
      50px; padding: 30% 0%">
        3回生
      </div>
    </a>
  </div>
  <div class="span6">
    <a href="lectures/2" style="text-decoration: none;">
      <div class="alert alert-info" style="text-align: center; font-size:
      50px; padding: 30% 0%">
        2回生
      </div>
    </a>
    <a href="lectures/4" style="text-decoration: none;">
      <div class="alert alert-block" style="text-align: center; font-size:
      50px; padding: 30% 0%; color:#c9a76b;">
        4回生
      </div>
    </a>
  </div>
</div>
{% endblock %}
