{% extends "base.html" %}
{% block title %}ホーム{% endblock %}
{% block content %}
<div class="row">
  <div class="span6">
    <a href="lectures/1" style="text-decoration: none;">
      <div class="alert alert-error" style="text-align: center; font-size:
      50px; padding: 30% 0%;" onmouseover="style.background='#e1cdcd'" onmouseout="style.background='#f2dede'">
        1回生
      </div>
    </a>
    <a href="lectures/3" style="text-decoration: none;">
      <div class="alert alert-success" style="text-align: center; font-size:
      50px; padding: 30% 0%;" onmouseover="style.background='#cee0c7'" onmouseout="style.background='#dff0d8'">
        3回生
      </div>
    </a>
  </div>
  <div class="span6">
    <a href="lectures/2" style="text-decoration: none;">
      <div class="alert alert-info" style="text-align: center; font-size:
      50px; padding: 30% 0%;" onmouseover="style.background='#c8dce6'" onmouseout="style.background='#d9edf7'">
        2回生
      </div>
    </a>
    <a href="lectures/4" style="text-decoration: none;">
      <div class="alert alert-block" style="text-align: center; font-size:
      50px; padding: 30% 0%; color:#c9a76b;" onmouseover="style.background='#ebe7d2'" onmouseout="style.background='#fcf8e3'">
        4回生
      </div>
    </a>
  </div>
</div>
{% endblock %}
