{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span6">
    <div class="alert alert-error" style="text-align: center; font-size:
    50px; padding: 30% 0%">
      <a href="lectures/1">1回生</a>
    </div>
    <div class="alert alert-success" style="text-align: center; font-size:
    50px; padding: 30% 0%">
      <a href="lectures/3">3回生</a>
    </div>
  </div>
  <div class="span6">
    <div class="alert alert-info" style="text-align: center; font-size:
    50px; padding: 30% 0%">
      <a href="lectures/2">2回生</a>
    </div>
    <div class="alert alert-block" style="text-align: center; font-size:
    50px; padding: 30% 0%">
      <a href="lectures/4">4回生</a>
    </div>
  </div>
</div>
{% endblock %}
