{% extends "kakomon/base.html" %}
{% block title %}{{ grade }}回生{% endblock %}
{% block content %}
<div style="border-bottom: 1px solid #cccccc;">
  <h1>{{ grade }}回生</h1>
</div><br>
{% set alert_list = ["error", "info", "success", "block"] %}
{% for lecture in lectures %}
  <div class="well" style="padding-top:0px;">
  <h3>{{ lecture.name }}</h3>
  <div class="alert alert-{{ alert_list[grade-1] }}">
    <div style="color: #333333; font-size: 15px;"><p style="line-height: 25px">{{ lecture.comment|safe }}</p></div>
  </div>
  <div style="font-size: 16px;">
  {% if kakomons_dict[lecture.id] %}
  過去問:&nbsp;
  {% endif %}
  {% for kakomon in kakomons_dict[lecture.id] %}
    <a href="/download/{{ lecture.id }}/{{ lecture.name }}_{{
             kakomon[0].year }}.{{ kakomon[0].ext }}">{{ kakomon[0].year }}年</a>&nbsp;({{kakomon[0].teacher }})&nbsp;&nbsp;
  {% endfor %}
  </div>
  </div>
  <br>
{% endfor %}
{% endblock %}
