{% extends "base.html" %}
{% block title %}{{ grade }}回生{% endblock %}
{% block content %}
<div style="border-bottom: 1px solid #cccccc;">
  <h1>{{ grade }}回生</h1>
</div><br>
{% set alert_list = ["error", "info", "success", "block"] %}
{% for lecture in lectures %}
  <div class="well" style="padding-top:0px;">
  <h3>{{ lecture.name }}</h3>
  <div class="alert alert-{{ alert_list[grade-1] }}">
    <div style="color: #333333; font-size: 15px;">{{ lecture.comment}}</div>
  </div>
  <div style="font-size: 16px;">
  過去問:&nbsp;
  {% for kakomon in kakomons_dict[lecture.id] %}
    <a href="/download/{{ lecture.id }}/{{ lecture.name }}_{{
             kakomon.year }}.{{ kakomon.ext }}">{{ kakomon.year }}年</a>&nbsp;&nbsp;
  {% endfor %}
  </div>
  </div>
  <br>
{% endfor %}
{% endblock %}
