{% extends "base.html" %}
{% block title %}{{ lecture.name }}の編集{% endblock %}
{% block content %}
<div style="border-bottom: 1px solid #cccccc;">
  <h2>{{ lecture.name }}の編集</h2>
</div><br>
<div style="font-size: 18px;"><input type="checkbox" name="check" value="check"
     onclick="formAppear();" />&nbsp;ファイルのアップロード</div><br>
<div class="row">
  <div class="span1"></div>
  <div class="span11">
    {% call file_form() %}
    {{ file_form['year'].label(class_="edit_label")|safe }}
    {{ file_form['year'].render()|safe }}
    {{ file_form['file'].label(class_="edit_label")|safe }}
    {{ file_form['file'].render()|safe }}
    <div style="padding-top: 15px;">
      <button type="submit" value="Submit" class="btn">アップロード</button>
    </div>
    {% endcall %}
  </div>
</div>

<div style="font-size: 18px;"><input type="checkbox" name="check" value="check"
     onclick="formAppear();" />&nbsp;コメントの編集</div><br>
<div class="row">
  <div class="span1"></div>
  <div class="span11">
    {% call comment_form() %}
    {{ comment_form['comment'].label(class_="edit_label")|safe }}
    {{ comment_form['comment'].render()|safe }}
    <div style="padding-top: 15px;">
      <button type="submit" value="Submit" class="btn">更新</button>
    </div>
    {% endcall %}
  </div>
</div>

<div style="font-size: 18px;"><input type="checkbox" name="check" value="check"
     onclick="formAppear();" />&nbsp;ファイルの削除</div><br>
<div class="row">
  <div class="span1"></div>
  <div class="span11">
    <div class="delete">
      {% call delete_form() %}
      {{ delete_form['years'].render()|safe }}
      <div class="actions" style="padding-top: 5px;">
        <button type="submit" value="Submit" class="btn"
     onclick="confirm('本当に削除しますか')">削除</button>
      </div>
      {% endcall %}
    </div>
  </div>
</div>
{{ tmp }}
{% endblock %}