{% extends "kakomon/base.html" %}
{% block url %}"/manage"{% endblock %}
{% block title %}{{ lecture.name }}の編集{% endblock %}
{% block content %}
<div style="border-bottom: 1px solid #cccccc;">
  <h2>{{ lecture.name }}の編集</h2>
</div><br>
{% if flag == 'upload' %}
<div class ="well" style="font-size: 17px;">ファイルをアップロードしました</div>
{% elif flag == 'comment' %}
<div class ="well" style="font-size: 17px;">コメントを更新しました</div>
{% elif flag == 'delete' %}
<div class ="well" style="font-size: 17px;">ファイルを削除しました</div>
{% endif %}
<div style="font-size: 18px" align=right><a href="/manage">管理ページトップ</a></div>

<div style="font-size: 18px;"><input type="checkbox" name="upload" value="check"
     onclick="formAppear('upload');" />&nbsp;ファイルのアップロード</div><br>
<div class="row" id="upload">
  <div class="span1"></div>
  <div class="span11">
    {% call file_form() %}
    {{ file_form['year'].label(class_="edit_label")|safe }}
    {{ file_form['year'].render()|safe }}
    {{ file_form['teacher'].label(class_="edit_label")|safe }}
    {{ file_form['teacher'].render()|safe }}
    {{ file_form['file'].label(class_="edit_label")|safe }}
    {{ file_form['file'].render()|safe }}
    <div style="padding-top: 15px;">
      <button type="submit" value="Submit" class="btn" onclick="return uploadConfirm();">アップロード</button>
    </div>
    {% endcall %}
  </div>
</div>

<div style="font-size: 18px;"><input type="checkbox" name="comment" value="check"
     onclick="formAppear('comment');" />&nbsp;コメントの編集</div><br>
<div class="row" id="comment">
  <div class="span1"></div>
  <div class="span11">
    {% call comment_form() %}
    {{ comment_form['comment'].label(class_="edit_label")|safe }}
    {{ comment_form['comment'].render(value_="text")|safe }}
    <div style="padding-top: 15px;">
      <button type="submit" value="Submit" class="btn">更新</button>
    </div>
    {% endcall %}
  </div>
</div>

<div style="font-size: 18px;"><input type="checkbox" name="deleteFile" value="check"
     onclick="formAppear('deleteFile');" />&nbsp;ファイルの削除</div><br>
<div class="row" id="deleteFile">
  <div class="span1"></div>
  <div class="span11">
    <div class="delete">
      {% call delete_form() %}
      {{ delete_form['years'].render()|safe }}
      <div class="actions" style="padding-top: 5px;">
          <button type="submit" value="Submit" class="btn"
            onclick="return confirm('本当に削除しますか');">削除</button>
      </div>
      {% endcall %}
    </div>
  </div>
</div>

<div style="font-size: 18px;"><input type="checkbox" name="deleteLecture" value="check"
     onclick="formAppear('deleteLecture');" />&nbsp;講義の削除</div><br>
<div class="row" id="deleteLecture">
  <div class="span1"></div>
  <div class="span11">
    <div style="padding-top: 15px;">
       <form action="" method="post" enctype="multipart/form-data">
         <button type="submit" value="Submit" class="btn"
           onclick="return confirm('本当に削除しますか');">削除</button>
       </form>
    </div>
  </div>
</div>

{{ tmp }}
{% endblock %}
{% block js %}
<script type="text/javascript">
function uploadConfirm() {
  var years = [];
  {% for year in years %}
  years.push({{ year }});
  {% endfor %}
  index = document.getElementsByName('year')[0].selectedIndex;
  selectedYear =
  document.getElementsByName('year')[0].options[index].value;
  for (var i = 0; i < years.length; i++) {
    if (years[i] == selectedYear) {
      return confirm(selectedYear + '年のファイルはすでに存在しますがアップロードしますか');
    }
  }
}

function formAppear(check) {
  element = document.getElementsByName(check);
  if (element[0].checked) {
    document.getElementById(check).style.display = "";
  } else {
    document.getElementById(check).style.display = "none";
  }
}

window.onload = function() {
  document.getElementById('upload').style.display = "none";
  document.getElementById('comment').style.display = "none";
  document.getElementById('deleteFile').style.display = "none";
  document.getElementById('deleteLecture').style.display = "none";
}
</script>
{% endblock %}