{% extends "base.html" %}
{% block title %}{{ lecture.name }}の編集{% endblock %}
{% block content %}
<div style="border-bottom: 1px solid #cccccc;">
  <h2>{{ lecture.name }}の編集</h2>
</div><br>
<div style="font-size: 18px;"><input type="checkbox" name="check" value="check"
     onclick="formAppear();" />ファイルのアップロード</div><br>
<div class="row">
  <div class="span1"></div>
  <div class="span11">
    {% call file_form() %}
    {{ file_form['year'].label(class_="edit_label")|safe }}
    {{ file_form['year'].render()|safe }}
    {{ file_form['file'].label(class_="edit_label")|safe }}
    {{ file_form['file'].render()|safe }}
    <div style="padding-top: 15px;">
      <button type="submit" value="Submit" class="btn">アップロード</button>
    </div>
    {% endcall %}
  </div>
</div>

<div style="font-size: 18px;"><input type="checkbox" name="check" value="check"
     onclick="formAppear();" />コメントの編集</div><br>
<div class="row">
  <div class="span1"></div>
  <div class="span11">
    {% call comment_form() %}
    {{ comment_form['comment'].label(class_="edit_label")|safe }}
    {{ comment_form['comment'].render()|safe }}
    <div style="padding-top: 15px;">
      <button type="submit" value="Submit" class="btn">更新</button>
    </div>
    {% endcall %}
  </div>
</div>

<div style="font-size: 18px;"><input type="checkbox" name="check" value="check"
     onclick="formAppear();" />ファイルの削除</div><br>
<div class="row">
  <div class="span1"></div>
  <div class="span11">
    {% for kakomon in kakomons %}
      <div style="font-size: 18px; display: inline;">
        <input type="checkbox" name="kakomon" value="kakomon">&nbsp;{{ kakomon.year }}年
      </div>&nbsp;
    {% endfor %}
    <div style="padding-top: 15px;">
      <button type="submit" value="Submit" class="btn">削除</button>
    </div>
  </div>
</div>
{{ delete_form()|safe }}
{% endblock %}